################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testproject/TestAppSolution/.vs
/.vs
