################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testproject/TestAppSolution/.vs
/.vs
/testproject/TestAppSolution/TestApp.Api/bin/Debug/net10.0
/testproject/TestAppSolution/TestApp.Business/bin/Debug/net10.0
/testproject/TestAppSolution/TestApp.DataAccess/bin/Debug/net10.0
/testproject/TestAppSolution/TestApp.Api/obj/Debug/net10.0
/testproject/TestAppSolution/TestApp.Business/obj/Debug/net10.0
/testproject/TestAppSolution/TestApp.DataAccess/obj/Debug/net10.0
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
target/
dist/

