.welcome-card {
  max-width: 650px;
  margin: 80px auto;
  padding: 28px;
  text-align: center;
}

mat-card-title {
  font-size: 28px;
  margin-bottom: 20px;
}

mat-card-content {
  font-size: 16px;
  margin-bottom: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
}